.update__wrap {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.update {
	top: 5px;
	position: absolute;
	width: 85px;
	height: 85px;
	box-shadow: 0px 0px 10px var(--light-black);
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.timer {
	font-size: 14px;
	text-align: center;
	color: var(--primary-color);
	height: 90%;
	width: 90%;
	border-radius: 100%;
	background-color: var(--light-black);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.timer > span {
	transform: translateY(-2px);
	color: var(--bright-black);
	font-size: 8px;
}

@media (max-width: 380px) {
	.update {
		width: 70px;
		height: 70px;
	}
}
