.list {
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

.item {
	background-color: var(--dark-black);
	padding: 8px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 3px;
}

.title {
	font-size: 11px;
	font-weight: bold;
}

.value {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
}

.valueNum {
	font-size: 14px;
}

@media (max-width: 480px) {
	.list {
		padding: 0px 5px;
	}
}
