.contacts {
	position: absolute;
	top: 80px;
	left: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	padding: 5px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	column-gap: 2px;
}

.contacts__list {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.contacts__title {
	display: flex;
	align-items: center;
	column-gap: 2px;
	font-size: 20px;
	padding-right: 10px;
	color: white;
}

.contact__link {
	background-color: white;
	padding: 8px;
	border-radius: 50%;
	transition: background-color 0.3s ease;
}

.contact__link:hover {
	background-color: rgb(230, 230, 230);
}

.contact__imgWrap {
	transition: scale 0.3s ease-in-out;
	height: 30px;
	width: 30px;
}

.contact__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center center;
}

@media (max-width: 768px) {
	.contacts__title {
		font-size: 15px;
		padding-right: 8px;
	}

	.contacts__title > svg {
		height: 20px;
		width: 20px;
	}
	.contact__link {
		padding: 5px;
	}
	.contact__imgWrap {
		height: 25px;
		width: 25px;
	}
}

@media (max-width: 480px) {
	.contacts {
		top: 65px;
	}
	.contacts__title {
		font-size: 10px;
		padding-right: 5px;
	}

	.contacts__title > svg {
		height: 15px;
		width: 15px;
	}
	.contact__imgWrap {
		height: 20px;
		width: 20px;
	}
}
