.footer__col {
	width: 50%;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.footer__title {
	padding: 10px 10px 0px 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 3px;
	font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
	font-weight: bold;
}

.footer__list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding-left: 10px;
}

.open {
	visibility: visible;
	opacity: 1;
}

@media (max-width: 480px) {
	.footer__col {
		width: 100%;
	}

	.footer__list {
		display: none;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease, translateY 0.3s ease;
	}
}
