.appWrap {
	touch-action: manipulation;
	padding-top: 80px;
	padding-bottom: 100px;
	max-width: 450px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (max-width: 480px) {
	.appWrap {
		padding-top: 65px;
	}
}
