.boostWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 450px;
	padding-top: 80px;
	z-index: 10;
}

.boost {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
}

.title {
	font-weight: bold;
	margin-bottom: 20px;
}

.balance__title {
	margin-top: 20px;
	font-size: 15px;
	color: var(--bright-black);
}
